<%- include('../partials/header') %>
<container id="container4">
    <h1 class="header-text"><%= soap.name %></h1>
    <h2>Category: <%= soap.category %></h2>
    <h2>Scent: <%= soap.scent %></h2>
    <h2>Price: <%= soap.price %></h2>
    <div class="show-page-imgs"><img src="/images/soaps/<%=soap.name%>.jpeg"></div>
    <button class="edit-button"><a href="/soaps/<%= soap.name %>/edit">Edit Soaps</a></button>
</container>
<%- include('../partials/footer') %>